h3 Results
each item in data
	pre(style='white-space:pre;')
		| User: #{item.user.name}
		| Text: #{item.text}
		| Created at: #{item.created_at}


//h3 Raw data
//pre= JSON.stringify(data, null, ' ')