h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Phrase            
            input#name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='tweets.searchByPhrase($("#phase").val())') Search



h5 Cool Phrases
ul
    li
        a(href="#" onClick='tweets.searchByPhrase("shredding the gnar")') Shredding the Gnar!
    li
        a(href="#" onClick='tweets.searchByPhrase("cool story bro")') Cool Story Bro!
