h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Name            
            input#name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='tweets.searchByName($("#name").val())') Search


.row
    .col-md-8
        .form-group.form-group-default
            label Zipcode            
            input#zipcode.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='tweets.searchByZipcode($("#zipcode").val())') Search

.row
    .col-md-8
        .form-group.form-group-default
            label Chamber            
            input#chamber.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='tweets.searchByChamber($("#chamber").val())') Search



h5 Chambers
ul
    li
        a(href="#" onClick='tweets.searchByChamber("senate")') Senate
    li
        a(href="#" onClick='tweets.searchByChamber("house")') House
