h3 Results
each item in data
	pre(style='white-space:pre;')
		| Name: #{item.name}
		| Location: #{item.location}
		| Created at: #{item.created_at}
		| Description: #{item.description}


//h3 Raw data
//pre= JSON.stringify(data, null, ' ')