h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label City            
            input#city.form-control(type='text', required='')               
    .col-md-4                         
        button.btn.btn-primary(onClick='trends.searchByLatLong($("#city").val())') Search

